<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>

<h1>Todo List</h1>

<form action="/task" method="POST">
  <input type="text" name="title" placeholder="Enter task" required>
  <input type="text" name="username" placeholder="Username" required>
  <button type="submit">Add</button>
</form>

<ul>
  <% tasks.forEach(task => { %>
    <li><%= task.title %></li>
  <% }) %>
</ul>
</body>
</html>

